@{
    ViewData["Title"] = "Home";
}
@model IQueryable<User>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>It's Vladislav WebSite</h2>

    @foreach (var user in Model){
        <div>
        <h3>@user.Name</h3>
        @user.Id
        @user.Status
        </div>
        }
</div>
