@{
    ViewData["Title"] = "User";
}

@model User;

<h2>Hi user, @Model.Name, @Model.Email</h2>

<form asp-controller="Home" asp-action="LogOut">
    <button type="submit" class="btn btn-danger">Log out</button>
</form>