<div class="container row col-sm-8 col-md-8 col-lg-7 g-0">
    <div class="pt-4 pe-2 col-6">
    <form asp-controller="Home" asp-action="SignInGoogle">
        <div class="text-center col-sm">
            <button type="submit" class="btn btn-lg btn-google btn-block btn-outline-warning"><img src="~/Images/googleLogo.png"> Sign in using Google</button>
        </div>
    </form>
    </div>
    <div class="pt-4 ps-2 col-6">
    <form asp-controller="Home" asp-action="SignInMicrosoft">
        <div class="text-center col-sm">
            <button type="submit" class="btn btn-lg btn-microsoft btn-block btn-outline-success"><img src="~/Images/microsoftLogo.png"> Sign in using Microsoft</button>
        </div>
    </form>
    </div>
</div>
