@{
    ViewData["Title"] = "Error";
}

@model string

<div class="container mt-5 g-0">
    <div class="row justify-content-center align-items-center">
        <h1 class="text-center">@Model</h1>
        @if (Model[^1] == '.')
        {
            <form method="get" asp-controller="Home" asp-action="Registration">
                <div class="mt-4 mb-2 text-center">
                    <button class="btn btn-outline-dark fs-3">Registration</button>
                </div>
            </form>
            @await Html.PartialAsync("_PartialSignInBySocial")
        }
    </div>
</div>



