@{
    ViewData["Title"] = "Error";
}

@model string

<div class="container-fluid mt-5">
    <h1 class="text-center">@Model</h1>
    <form method="get" asp-controller="Home" asp-action="Registration">
        <div class="mt-4 text-center">
            <button class="btn btn-outline-dark fs-3">Registration</button>
        </div>
    </form>
</div>


